:root {
  --main-color:#ea9000;
  --second-color:#cc6600;
  --contrast-color:#2C3E50;
}

body {
  font-family: sans-serif;
}

/*
.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}
*/

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.text-primary-color {
  color: var(--main-color);
}

.header-color {
  background-color: #779DA3 
}

.logo-font-style {
  color: white; 
}

.f-in-post-header {
  font-size:4em; 
  font-style: italic; 
  font-family:serif;
}

.small-f-in-post-header {
  font-size:2em; 
  font-style: italic; 
  font-family:serif;
}

.logo-font-4-style {
  color: var(--main-color);
  font-size: 1.2em;
}

